<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/fixedcolumns/3.3.1/js/dataTables.fixedColumns.min.js"></script>
<title>Benchmark report {{ .Title}}</title>
</head>
<body>
{{range .Tables}}	
<table border="1" id="{{ .ID}}">
	<thead>
		<tr>
			<th rowspan="1" colspan="1">{{ .Label}}</th>
			<th colspan="2" rowspan="1">Executions</th>
			<th colspan="6" rowspan="1">Responce Times (ms)</th>
			<th colspan="6" rowspan="1">Sent (bytes)</th>
			<th colspan="6" rowspan="1">Received (bytes)</th>
		</tr>
		<tr>
			<th>Request</th>
			<th>Samples</th>
			<th>Errors %</th>
			<th>Mean</th>
			<th>Min</th>
			<th>Max</th>
			<th>P90</th>
			<th>P95</th>
			<th>P99</th>
		
			<th>Mean</th>
			<th>Min</th>
			<th>Max</th>
			<th>P90</th>
			<th>P95</th>
			<th>P99</th>
		
			<th>Mean</th>
			<th>Min</th>
			<th>Max</th>
			<th>P90</th>
			<th>P95</th>
			<th>P99</th>
		</tr>
	</thead>
</table>
{{end}}
<script>
	$(document).ready(function() {
		{{range .Tables}}		
			$('#{{ .ID}}').DataTable( {
				serverSide: true,
				ajax: '/report/{{ .ID}}'
			} );
		{{end}}
	} );
</script>
</body>
</html>
